{% extends 'base.html' %}


{% block content %}
  <ul>

    <li>
      <a href="{% url 'model_form_upload' %}">9eye</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
  {% csrf_token %}
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>

        <a href="media/{{ obj.FRONT_INSIDE_PICTURE }}" target="_blank">{{ obj.name }}FRONT/INSIDE PICTURE </a>
          <a target="_blank" href="media/{{ obj.BUSINESS_CARD_IMAGE }}">BUSINESS CARD IMAGE</a>

      </li>
    {% endfor %}
  </ul>
{% endblock %}